$bordes:1px solid black;
$margenes: 10px;
$tamanio: 100%;
$padding: 23px;
$justificado: center;
$margenSuperior: -3%;
@import "_estructura";
@import "_tipografia";
@import "_variables";
.featurette-heading {
    color: $colorletras;
}

@for $i from 1 through 9 {
    .barrefondo#{$i} {
        display: flex;
        flex-wrap: wrap;
        justify-content: $justificado;
        margin-top: $margenSuperior;
        padding: $padding;
        align-items: center;
        >a>img {
            border: $bordes;
            border-radius: 10px;
            width: $tamanio;
            margin: $margenes;
            transition: transform .2s;
        }
        >a>img:hover {
            transform: scale(1.1);
        }
    }
}

.barrefondosTexto {
    text-align: center;
    margin-top: 3%;
    >h1 {
        color: #3679c9;
    }
}

.sacahojasTexto {
    text-align: center;
    margin-top: 3%;
    >h1 {
        color: #3679c9;
    }
}

.bombasTexto {
    text-align: center;
    margin-top: 3%;
    >h1 {
        color: #3679c9;
    }
}

.filtrosTexto {
    text-align: center;
    margin-top: 3%;
    >h1 {
        color: #3679c9;
    }
}

@for $i from 1 through 2 {
    .casilla#{$i} {
        @extend .barrefondo#{$i};
    }
}

@for $i from 1 through 2 {
    .horario#{$i} {
        @extend .barrefondo#{$i};
    }
}

.casillasTexto {
    text-align: center;
    margin-top: 3%;
    >h1 {
        color: #3679c9;
    }
}

@for $i from 1 through 7 {
    .luz#{$i} {
        @extend .barrefondo#{$i};
    }
}

.iluminacionTexto {
    text-align: center;
    margin-top: 3%;
    >h1 {
        color: #3679c9;
    }
}

@for $i from 1 through 7 {
    .controlador#{$i} {
        @extend .barrefondo#{$i};
    }
}

.controladorTexto {
    text-align: center;
    margin-top: 3%;
    >h1 {
        color: #3679c9;
    }
}

.boyasTexto {
    @extend .sacahojasTexto
}

.manguerasTexto {
    @extend.sacahojasTexto
}

.alguicidaTexto {
    text-align: center;
    margin-top: 3%;
    >h1 {
        color: #3679c9;
    }
}

.instalacionesTexto {
    text-align: center;
    margin-top: 3%;
    >h1 {
        color: #3679c9;
    }
}

.revestimientoTexto {
    text-align: center;
    margin-top: 3%;
    >h1 {
        color: #3679c9;
    }
}

@for $i from 1 through 4 {
    .quimicos#{$i} {
        @extend .barrefondo#{$i};
    }
}

.quimicosTexto {
    text-align: center;
    margin-top: 3%;
    >h1 {
        color: #3679c9;
    }
}

.alguicidasTexto {
    text-align: center;
    margin-top: 3%;
    >h1 {
        color: #3679c9;
    }
}

.clarificadoresTexto {
    text-align: center;
    margin-top: 3%;
    >h1 {
        color: #3679c9;
    }
}

.clarificadoresTexto {
    text-align: center;
    margin-top: 3%;
    >h1 {
        color: #3679c9;
    }
}

.cloroTexto {
    text-align: center;
    margin-top: 3%;
    >h1 {
        color: #3679c9;
    }
}

@for $i from 1 through 4 {
    .accesorios#{$i} {
        @extend .barrefondo#{$i};
    }
}

.accesoriosTexto {
    text-align: center;
    margin-top: 3%;
    >h1 {
        color: #3679c9;
    }
}