<!DOCTYPE html>
<html lang="es">

<head>
    <title>Mangueras y mangos de piscinas</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="../imagenes/ryc.png" />
    <meta name="description" content="Mangueras corrugadas para pasar el barrefondo" />
    <meta name="keywords" content="manguera, manguera corrugada, vulcano, bi color">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/styles2.css">
    <link rel="stylesheet" href="../css/styles3.css">
    <link rel="stylesheet" href="../css/whatssap.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap" rel="stylesheet">
</head>

<body class="fondoPrincipal">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <a href="https://api.whatsapp.com/send?phone=+543412680942&text=Bienvenido%20a%20RYC%20piscinas" class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
    </a>
    <nav class="navbar navbar-light bg-azul navbar-expand-xl">
        <a class="navbar-brand" href="#">
            <img src="../imagenes/ryc.png" width="30" height="30" alt="" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">INICIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/equipamientos.html">EQUIPAMIENTOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/productosQuimicos.html">PRODUCTOS QUIMICOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/accesorios.html">ACCESORIOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/instalaciones.html">INSTALACIONES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/iluminacion.html">ILUMINACIÓN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/revestimientos.html">REVESTIMIENTOS</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container marketing">
        <div class="manguerasTexto">
            <h1>MANGUERAS VULCANO</h1>
            <P>Mangueras corrugadas de la mejor calidad, fabricadas con plastico reciclado y virgen.</P>
        </div>
        <div class="manguera row placeholders">
            <div class="manguera1 col-6 placeholder">
                <a href="#">
                    <img src="../imagenes/accesorios/mangueras/manguera 1 1-2.png">
                </a>
            </div>
            <div class="manguera2 col-6 placeholder">
                <a href="#">
                    <img src="../imagenes/accesorios/mangueras/manguera 1 1-4.png">
                </a>
            </div>
            <div class="manguerasTexto col-12">
                <h1>TERMINALES DE GOMA</h1>
                <P>Adaptadores creados para facilitar las conexiones de las mangueras en los acoples de la pileta y lograr un mejor sellado.</P>
            </div>
            <div class="manguera3 col-6 placeholder">
                <a href="#">
                    <img src="../imagenes/accesorios/mangueras/terminal 1 1-2.png">
                </a>
            </div>
            <div class="manguera4 col-6 placeholder">
                <a href="#">
                    <img src="../imagenes/accesorios/mangueras/terminal 1 1-4.png">
                </a>
            </div>
            <div class="manguerasTexto col-12">
                <h1>UNIONES DE GOMA</h1>
                <P>Creados para poner unir 2 tramos de manguera.</P>
            </div>
            <div class="manguera5 col-6 placeholder">
                <a href="#">
                    <img src="../imagenes/accesorios/mangueras/union 1 1-2.png">
                </a>
            </div>
            <div class="manguera6 col-6 placeholder">
                <a href="#">
                    <img src="../imagenes/accesorios/mangueras/union 1 1-4.png">
                </a>
            </div>
            <div class="manguerasTexto col-12">
                <h1>MANGOS TELESCOPICOS</h1>
                <P>Caños de se expanden hasta el doble de su tamaño para conectarlo en tu barrefondo.</P>
            </div>
            <div class="manguera3 col-6 placeholder">
                <a href="#">
                    <img src="../imagenes/accesorios/mangueras/mango 2.40.png">
                </a>
            </div>
            <div class="manguera4 col-6 placeholder">
                <a href="#">
                    <img src="../imagenes/accesorios/mangueras/mango 3.60.png">
                </a>
            </div>
            <div class="manguera4 col-6 placeholder">
                <a href="#">
                    <img src="../imagenes/accesorios/mangueras/mango 4.80.png">
                </a>
            </div>
        </div>
        <div class="botonComprar">
            <a href="../views/accesorios.html">
                <img src="../imagenes/pulsa.png" width="25%">
            </a>
        </div>
    </div>
    <hr class="featurette-divider">
    <footer class="container-fluid" style="margin-top: 10%;">
        <div class="padre1">
            <div class="row">
                <img class="imgPiePagina" src="../imagenes/ryc.png" height="130" alt="logotipo">
                <p>
                    <br> Av. Pellegrini 3548 / Rosario.
                    <br> Lunes a Viernes: 10 a 17hs
                    <br> Sabados: 9 a 13hs - RYC piscinas 2020
                    <br> Copyright RYCPISCINAS © 2020
                </p>
            </div>
        </div>
    </footer>

    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</body>

</html>