<!DOCTYPE html>
<html lang="es">

<head>
    <title>Tratamiento sin cloro</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="../imagenes/logoWeb.png" />
    <meta name="description" content="Sin cloro" />
    <meta name="keywords" content="sin cloro, tratamiento, biopiscinas, oxi power">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/styles2.css">
    <link rel="stylesheet" href="../css/whatssap.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap" rel="stylesheet">
</head>

<body class="fondoPrincipal">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <a href="https://api.whatsapp.com/send?phone=+543412680942&text=Bienvenido%20a%20RYC%20piscinas" class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
    </a>
    <div class="contenedorNav">
        <div class="menu-fixed">
            <nav class="navbar navbar-light bg-azul navbar-expand-xl">
                <a class="navbar-brand" href="../index.html">
                    <img src="../imagenes/ryc.png" width="95" alt="" loading="lazy">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html">INICIO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/equipamientos.html">EQUIPAMIENTOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/productosQuimicos.html">QUIMICOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/accesorios.html">ACCESORIOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/iluminacion.html">ILUMINACIÓN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/revestimientos.html">REVESTIMIENTOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/dolphins.html">DOLPHINS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/instalaciones.html">CONTACTO</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="container marketing">
        <div class="container-equipamientos">
            <h1>TRATAMIENTOS SIN CLORO</h1>
            <p>Particularmente algunas aguas no pueden ser tratadas con cloro por tener algún contenido de hierro. En estos casos hay que reemplazar el cloro con quimicos no oxidantes.</p>
        </div>
        <hr class="featurette-divider">
        <!-- inicio imagenes dolphin -->
        <div class="blog">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="../imagenes/sin cloro/granulado.png" alt="Blog">
                            </div>
                            <div class="blog-content">
                                <h2 class="blog-title">MAK BIO + OXI POWER GRANULADO</h2>
                                <div class="blog-meta">
                                    <p><i><img src="../imagenes/sin cloro/OXI GRANULADO SIN.png" width="5%"></i>Oxi power granulado</p>
                                    <p><i><img src="../imagenes/sin cloro/mak bio sin.png" width="5%"></i>MAK BIO</p>
                                </div>
                                <div class="blog-text">
                                    <p>
                                        Se utiliza peroxido de hidrogeno en 2000 volumenes granulado para realizar una oxidación sin cloro principalmente en piscinas pequeñas (6x3) por su rendimiento. El mak bio es un biocida mensual que se encarga de la acción bactericida y alguicida.
                                    </p>
                                    <a class="btn custom-btn" href="../views/instalaciones.html">Quiero saber más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="../imagenes/sin cloro/liquido.png" alt="Blog">
                            </div>
                            <div class="blog-content">
                                <h2 class="blog-title">MAK BIO + OXI POWER LIQUIDO</h2>
                                <div class="blog-meta">
                                    <p><i><img src="../imagenes/sin cloro/OXI LIQUIDO SIN.png" width="5%"></i>Oxi power liquido</p>
                                    <p><i><img src="../imagenes/sin cloro/mak bio sin.png" width="5%"></i>MAK BIO</p>
                                </div>
                                <div class="blog-text">
                                    <p>
                                        Se utiliza peroxido de hidrogeno en 2000 volumenes liquido para realizar una oxidación sin cloro en piletas de gran tamaño (12x5) por su amplio rendimiento. El mak bio es un biocida mensual que se encarga de la acción bactericida y alguicida.
                                    </p>
                                    <a class="btn custom-btn" href="../views/instalaciones.html">Quiero saber más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="../imagenes/sin cloro/bio.png" alt="Blog">
                            </div>
                            <div class="blog-content">
                                <h2 class="blog-title">BIO PISCINAS</h2>
                                <div class="blog-meta">
                                    <p><i><img src="../imagenes/sin cloro/BIO SIN.png" width="5%"></i>BIO PISCINAS</p>
                                </div>
                                <div class="blog-text">
                                    <p>
                                        Este tratamiento es recomendado como una alternativa al peroxido de hidrogeno, ya que realiza oxidación por si mismo. Pero no es igual de efectivo en todas las aguas.
                                    </p>
                                    <a class="btn custom-btn" href="../views/instalaciones.html">Quiero saber más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="botonComprar">
                    <a href="../index.html ">
                        <img src="../imagenes/pulsaInicio.png" width="25%">
                    </a>
                </div>
                <!-- Footer inicio -->
                <div class="contact">
                    <div class="container">
                        <div class="row align-items-center contact-information">
                            <div class="col-md-6 col-lg-3">
                                <div class="contact-info">
                                    <div class="contact-icon">
                                        <i><img src="../imagenes/logos redes/ubicación.png" width="65%"></i>
                                    </div>
                                    <div class="contact-text">
                                        <h3>Dirección</h3>
                                        <p>Pellegrini 3548</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="contact-info">
                                    <div class="contact-icon">
                                        <i><img src="../imagenes/logos redes/telefono.png" width="65%"></i>
                                    </div>
                                    <div class="contact-text">
                                        <h3>Telefono</h3>
                                        <p>0341-4383930</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="contact-info">
                                    <div class="contact-icon">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <div class="contact-text">
                                        <h3>Email</h3>
                                        <p>rycpiscinas@gmail.com</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="contact-info">
                                    <div class="contact-icon">
                                        <i class="fa fa-share"></i>
                                    </div>
                                    <div class="contact-text">
                                        <h3>Seguinos</h3>
                                        <div class="contact-social">
                                            <a href="https://www.facebook.com/RYCPiscinas" target="_blank"><i><img src="../imagenes/logos redes/facebook.png" width= 40px></i></a>
                                            <a href="https://www.instagram.com/rycpiscinas/?hl=es-la" target="_blank"><i><img src="../imagenes/logos redes/instagram.png" width= 40px></i></a>
                                            <a href="https://api.whatsapp.com/send?phone=+543412680942&text=Bienvenido%20a%20RYC%20piscinas" target="_blank"><i><img src="../imagenes/logos redes/whatssap.png" width= 40px></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer fin -->
            </div>
            <!-- fin imagenes dolphin -->
            <hr class="featurette-divider">
        </div>
        <footer class="container-fluid" style="margin-top: 10%;">
            <div class="padre1">
                <div class="row">
                    <img class="imgPiePagina" src="../imagenes/ryc.png" height="130" alt="logotipo">
                    <p>
                        <br> Av. Pellegrini 3548 / Rosario.
                        <br> Lunes a Viernes: 10 a 17hs
                        <br> Sabados: 9 a 13hs - RYC piscinas 2020
                        <br> Copyright RYCPISCINAS © 2020
                    </p>
                </div>
            </div>
        </footer>
        <script src="../js/jquery-3.5.1.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
</body>

</html>