<!DOCTYPE html>
<html>

<head>
    <title>Tratamiento sin cloro para piscinas</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="../imagenes/ryc.png" />
    <meta name="description" content="Mantenimiento sin cloro para piscina" />
    <meta name="keywords" content="sin cloro, peroxido de hidrogeno, hipoclorito de sodio, bio piscinas">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/whatssap.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap" rel="stylesheet">
</head>

<body class="grid-container">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <a href="https://api.whatsapp.com/send?phone=+543412680942&text=Bienvenido%20a%20RYC%20piscinas" class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
    </a>
    <header class="header">
        <h1>RYC PISCINAS</h1>
    </header>
    <nav class="navbar">
        <ul class="menuPrincipal">
            <!-- Aqui irian todos los menús desplegables-->
            <li><a href="../index2.html">INICIO</a></li>
            <li><a href="../views/equipamientos.html">EQUIPAMIENTOS</a></li>
            <li><a href="../views/productosQuimicos.html">PRODUCTOS QUIMICOS</a></li>
            <li><a href="../views/accesorios.html">ACCESORIOS</a></li>
            <li><a href="../views/instalaciones.html">INSTALACIONES</a></li>
            <li><a href="../views/iluminacion.html">ILUMINACION</a></li>
            <li><a href="../views/revestimientos.html">REVESTIMIENTOS</a></li>
            <li><a href="../views/ventaMayorista.html">VENTA MAYORISTA</a></li>
        </ul>
    </nav>
    <aside class="sidebar">
        <div>
            <h2>Nuestros horarios:</h2>
            <img src="../imagenes/horarios.jpg" width="100%" height="auto">
        </div>
    </aside>
    <article class="main">
        <h1>Tratamiento sin cloro</h1>
        <p>Ideal para aquellas personas que buscan una alternativa al cloro!</p>
        <div class="sinCloro">
            <img src="../imagenes/tto-hierro.jpg">
            <img src="../imagenes/ttosincloro.jpg">
        </div>
    </article>
    <footer class="container-fluid" style="margin-top: 10%;">
        <div class="padre1">
            <div class="row">
                <img class="imgPiePagina" src="../imagenes/ryc.png" height="130" alt="logotipo">
                <p>
                    <br> Av. Pellegrini 3548 / Rosario.
                    <br> Lunes a Viernes: 10 a 17hs
                    <br> Sabados: 9 a 13hs - RYC piscinas 2020
                    <br> Copyright RYCPISCINAS © 2020
                </p>
            </div>
        </div>
    </footer>

    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>